[submodule "completions"]
	path = completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "git-hooks"]
	path = git-hooks
	url = git@github.com:pielgrzym/git-hooks.git
[submodule "autoenv"]
	path = autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "todotxt"]
	path = todotxt
	url = https://github.com/pielgrzym/todo.txt-cli.git
